body {
  margin: 0px;
  padding: 0px;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
nav {
  background-color: sandybrown;
  font-size: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: darkblue;
}
nav li {
  display: inline-block;
  margin: 0 8px;
}
nav a {
  text-decoration: none;
}
.logo {
  font-size: 36px;
  font-weight: bolder;
}
nav a:hover{
    color: whitesmoke;
}
.menu-line{
    height: 3px;
    width: 20px;
    background-color: darkblue;
    margin-bottom: 5px;
}
.menu{
    cursor: pointer;
    display: none;
}
@media all and (max-width:640px){
    nav{
      flex-direction: column;
    }
    nav li{
      display: block;
      padding: 10px 0;
    }
    ul{
      text-align: center;
      padding: 0px;
      display: none;
    }
    .logo{
      align-self: flex-start;
      margin: 10px 0px 0px 30px;
    }
    .menu{
      display: block;
      position: absolute;
      right: 20px;
      top: 25px;
    }
}
.showmenu{
  display: block;
}